<script lang="ts">
  import { link } from 'svelte-spa-router'
  import CoffeeLoading from '../../../components/utils/CoffeeLoading.svelte'
  import ErrorLoading from '../../../components/utils/ErrorLoading.svelte'
  import { Edit2Icon, TrashIcon, StarIcon } from 'svelte-feather-icons'

  import fetcher from '../../../fetcher/fetcher'
  import Post from '../../../components/blog/Post.svelte'

  let posts = fetcher.fetcher('profile/posts', { auth: true })

  let expand = false
</script>

<!-- <h2 class="font-bold text-2xl text-gray-100 text-center">
  Keep going. That looks great!
</h2> -->

{#if $posts.status === 'loaded'}
  {#if $posts.data.posts && $posts.data.posts.length > 0}
    <div class="grid grid-cols-2 lg:grid-cols-4 xl:grid-cols-2 gap-2 md:gap-4">
      {#each $posts.data.posts
        // .filter(
        //   (post) => post.isPublic === false || post.postDraft.data !== post.data
        // )
        .slice(0, 4 + 2 * Math.floor(Math.random() * 2)) as post, postIndex}
        <!-- <div class="mt-1 md:mt-8 rounded">
          <div class="font-bold text-xl text-gray-200 leading-tight">
            <a use:link href="/create/post/{post.postDraft.id}">
                {post.postDraft.data.title}
            </a>
          </div>
          <div class="mt-4 md:mt-4 flex items-center gap-4 justify-between">
            {#if post.isPublic}
              Public, edited
            {:else}
              Draft
            {/if}
            <a use:link href="/create/post/{post.postDraft.id}" class="p-4 bg-gray-800 text-black rounded uppercase font-bold text-md">
              <Edit2Icon size="18" />
            </a>
          </div>
        </div> -->
        <div class="relative">
          <figure
            class="group h-28 md:h-44 bg-gradient-to-tr from-indigo-900 to-gray-900 hover:from-green-400 transition-colors duration-1000 rounded xl:rounded-lg"
          >
            {#if post.data.hero}
              <img
                class="object-cover group-hover:opacity-60 transition-all duration-300 rounded xl:rounded-lg h-full w-full"
                src="{post.data.hero.url}{post.data.hero.files[0]}"
                alt={post.title}
                title={post.title}
              />
            {/if}
          </figure>
          <div
            class="absolute text-sm text-gray-400 left-1 top-1 rounded p-2 bg-gray-800"
          >
            {#if post.isPublic && post.postDraft.isPublic}
              Public
            {:else if post.isPublic && !post.postDraft.isPublic}
              Unpublished changes
            {:else}
              Draft
            {/if}
          </div>
          <a
            class="absolute text-sm text-gray-400 -right-1 -top-1 z-40 rounded p-2"
            href="/create/post/{post.postDraft.id}"
            use:link
          >
            <div class=" bg-gray-800 block rounded p-2">
              <Edit2Icon size="18" />
            </div>
          </a>
          <a use:link href="/post/{post.slug}">
            <div class="mt-2 px-1 font-bold text-sm leading-tight">
              {post.title || post.postDraft.data.title}
            </div>
          </a>
        </div>
      {/each}
    </div>
    <div class="text-right">
      <a
        href="/me/posts"
        use:link
        class="py-3 px-5 inline-block rounded-md mt-1 bg-gradient-to-br from-gray-900 to-gray-700"
        >More of your posts</a
      >
    </div>
  {:else}
    <h5 class="text-center text-2xl p-4">
      This is just a begging of journey.
      <a href="/create/post" class="underline" use:link>Create</a> a new post
    </h5>
  {/if}
{:else if $posts.status === 'loading'}
  <CoffeeLoading />
{:else}
  <ErrorLoading />
{/if}
