<script lang="ts">
  import { link } from 'svelte-spa-router'
  import CoffeeLoading from '../../../components/utils/CoffeeLoading.svelte'
  import ErrorLoading from '../../../components/utils/ErrorLoading.svelte'
  import { HeartIcon } from 'svelte-feather-icons'
  import fetcher from '../../../fetcher/fetcher'
  import myProfile from '../../../stores/profileStore'

  let posts = fetcher.fetcher('posts?', { auth: true })

  let expand = false

  let forYou: {
    type: 'categories' | 'technologies' | null
    text: 'string' | null
    color?: 'string'
    id: number | 0
  } = { type: null, text: null, id: 0 }

  const getRandom = async (myProfile: any) => {
    let choosen = null

    if (myProfile && myProfile.categories) {
      choosen =
        myProfile.categories[
          Math.floor(Math.random() * myProfile.categories.length)
        ]
      forYou.type = 'categories'
    }

    if (myProfile && myProfile.technologies) {
      choosen =
        myProfile.technologies[
          Math.floor(Math.random() * myProfile.technologies.length)
        ]
      forYou.type = 'technologies'
    }

    if (choosen === null || Math.random() < 99) {
      const meta = await fetcher.fetch('get?categories=true&technologies=true')
      meta.categories = meta.categories.filter((i) => i.posts > 0)
      meta.technologies = meta.technologies.filter((i) => i.posts > 0)
      if (Math.random() < 1 && meta.categories.length > 0) {
        choosen =
          meta.categories[Math.floor(Math.random() * meta.categories.length)]
        forYou.type = 'categories'
      } else {
        choosen =
          meta.technologies[
            Math.floor(Math.random() * meta.technologies.length)
          ]
        forYou.type = 'technologies'
      }
    }
    forYou.text = choosen.name || ''
    forYou.id = choosen.id || 0
    return forYou
  }
</script>

<h2 class="font-bold text-xl text-gray-100 text-center">
  {#if forYou.text}
    We have something for you from {forYou.type}: {forYou.text}
  {:else}
    ...
  {/if}
</h2>

{#await getRandom($myProfile)}
  Loading
{:then _}
  {#await fetcher.fetch(`posts?max=4&${forYou.type}=${forYou.id}`)}
    Loading
  {:then posts}
    <div
      class="grid grid-cols-2 lg:grid-cols-4 xl:grid-cols-2 gap-2 md:gap-8 mt-4 md:mt-6"
    >
      {#each posts.posts as post}
        <div class="relative">
          <a use:link href="/post/{post.slug}">
            <figure
              class="group h-28 md:h-44 bg-gradient-to-tr from-indigo-900 to-gray-900 hover:from-green-400 transition-colors duration-1000 rounded xl:rounded-lg"
            >
              {#if post.hero}
                <img
                  class="object-cover group-hover:opacity-60 transition-all duration-300 rounded xl:rounded-lg h-full w-full"
                  src="{post.hero.url}{post.hero.files[0]}"
                  alt={post.title}
                  title={post.title}
                />
              {/if}
            </figure>
            <!-- <div class="absolute font-bold right-2 top-2 rounded p-2 bg-gray-800">{post.likes}<HeartIcon class="inline align-text-top ml-2" size="18" /></div> -->
            <div class="mt-2 px-1 font-bold leading-tight">
              {post.title}
            </div>
          </a>
        </div>
      {/each}
    </div>
  {:catch e}
    {e}
  {/await}
{/await}
