<script lang="ts">
  import { push } from 'svelte-spa-router'

  import { fade } from 'svelte/transition'
  import Spacer from '../../components/Spacer.svelte'
  import { mFetch } from '../../services/mFetch'
  import ForgetSendEmail from './_components/ForgetSendEmail.svelte'

  export let params: { token: string | null } = { token: null }

  let passInput

  const errors: string[] = []

  const onSubmitReset = async () => {
    const token = params.token

    if (token) {
      if (passInput && passInput.length >= 6) {
        mFetch('resetPassword/' + token, {
          method: 'POST',
          body: JSON.stringify({
            password: passInput
          })
        }).then(async (r) => {
          if (r && r.success) {
            push('/hello')
          }
        })
      } else {
        errors.push('Password - minimum 6 characters')
      }
    }
  }

  
</script>


{errors}
<div in:fade class="m-auto w-11/12 md:w-96 grid h-screen items-center">
  <div>
  {#if params.token}
    <h2 class="font-bold text-2xl md:text-3xl md:mb-8 text-center">
      Set new password
    </h2>

    <form on:submit|preventDefault={onSubmitReset}>
      <div class="mb-2 mt-2 text-xs">
        <span class="font-bold text-center text-gray-100 text-sm uppercase"
          >Password</span
        ><input
          bind:value={passInput}
          class="field text-sm bg-gray-800 py-4 px-3 rounded w-full mt-1"
          type="password"
        />
      </div>

      <button
        class="border-2 transition-colors duration-100 border-green-300 hover:bg-green-300 hover:text-gray-900 mt-3 text-green-300 m-auto block text-center p-3 px-4 text-md rounded cursor-pointer font-bold"
        >Set</button
      >
    </form>
  {:else}
    <ForgetSendEmail />
  {/if}
</div>
</div>
