<script lang="ts">
  import { LoaderIcon } from 'svelte-feather-icons'

  import ButtonButton from '../ButtonButton.svelte'
  import fetcher from '../../fetcher/fetcher'

  /**
   *
   * Props
   *
   */
  export let postId = null
  export let isPublic = null
  export let post

  /**
   *
   * Flags
   *
   */
  let showConfirm = false
  const CONFIRM_TIME = 3000 // 4 seconds

  /**
   *
   * Confirm handle
   *
   */
  const confirm = async () => {
    showConfirm = true
    setTimeout(async () => {
      showConfirm = false
    }, CONFIRM_TIME)
  }

  /**
   *
   * Logic
   *
   */
  const onClick = async () => {
    if (showConfirm) {
      const r = await fetcher.fetch(`post/${postId}`, {
        auth: true,
        method: 'DELETE'
      })
      if (r.success) {
        showConfirm = false
        await fetcher.update(`post/${post.slug}`)
        await fetcher.update(`profile/posts`)
        isPublic = false
      }
    } else {
      await confirm()
    }
  }
</script>

<ButtonButton on:click={() => onClick()}>
  <LoaderIcon class="inline align-text-top mr-1 animate-spin {!showConfirm ? 'hidden' : ''}" size="18" /> {showConfirm ? 'Confirm' : 'Remove'}
</ButtonButton>
