<script lang="ts">
  import { location, querystring, push } from 'svelte-spa-router'
  import Lazy from 'svelte-lazy'
  import {
    XSquareIcon,
    XIcon,
    SquareIcon,
    CheckSquareIcon
  } from 'svelte-feather-icons'
  import Post from '../../components/blog/Post.svelte'
  import Selector from '../../components/Selector.svelte'
  import ButtonButton from '../../components/ButtonButton.svelte'

  import Spacer from '../../components/Spacer.svelte'
  import CoffeeLoading from '../../components/utils/CoffeeLoading.svelte'
  import ErrorLoading from '../../components/utils/ErrorLoading.svelte'
  import fetcher from '../../fetcher/fetcher'
  import { onMount } from 'svelte'

  const metaData = fetcher.fetcher('get?categories=true&technologies=true')
  let posts = fetcher.fetcher('posts')

  let sortBy = 'Newest'
  let selectedCategories = []
  let selectedTechnologies = []

  let showCategories = false
  let showTechnologies = false
  let urlParams

  const updateLookAtQuery = async (qs: string) => {
    urlParams = new URLSearchParams(qs)
    selectedCategories = urlParams.has('categories') ? urlParams.get('categories').split('A').map(Number) : []
    selectedTechnologies = urlParams.has('technologies') ? urlParams.get('technologies').split('A').map(Number) : []
    posts = fetcher.fetcher(`posts?${urlParams.toString()}`)
  }

  const handleUpdate = (event) => {
    showCategories = false
    showTechnologies = false

    const selected = event.detail.selected
    const subject = event.detail.subject

    if (subject === 'categories') selectedCategories = selected
    else if (subject === 'technologies') selectedTechnologies = selected

    let urlArray = ''

    if (selected.length > 0) {
      const selectedData = selected.join('A')
      urlParams.set(subject, selectedData)    
    }
    else urlParams.delete(subject)
  
    posts = fetcher.fetcher(`posts?${urlParams.toString()}`)
    push(`${$location}?${urlParams.toString()}`)
  }
</script>

<Spacer />

{#await updateLookAtQuery($querystring)}
{/await}

<!--
  Filters
-->
{#if $metaData.status === 'loaded'}
  <div
    class="px-4 md:px-8 space-x-4 lg:space-x-6 max-w-7xl m-auto"
  >
    <ButtonButton on:click={() => (showCategories = true)}
      >Categories {selectedCategories.length
        ? '(' + selectedCategories.length + ')'
        : ''}</ButtonButton
    >
    <ButtonButton on:click={() => (showTechnologies = true)}
      >Technologies {selectedTechnologies.length
        ? '(' + selectedTechnologies.length + ')'
        : ''}</ButtonButton
    >
  </div>

  {#if showCategories && $metaData.data.categories}
    <Selector
      subject={'categories'}
      selected={selectedCategories}
      items={$metaData.data.categories}
      on:update={handleUpdate}
    />
  {/if}
  {#if showTechnologies && $metaData.data.technologies}
    <Selector
      subject={'technologies'}
      selected={selectedTechnologies}
      items={$metaData.data.technologies}
      on:update={handleUpdate}
    />
  {/if}
{/if}

<!-- Latest posts -->
{#if $posts.status === 'loaded'}
  <div
    class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-2 px-4 md:px-8 gap-4 md:gap-8 m-auto mt-8 md:mt-10 2xl:mt-18 max-w-7xl"
  >
    {#each $posts.data.posts as post}
      <Lazy>
        <Post {post} />
      </Lazy>
    {/each}
  </div>
  <Spacer />
{:else if $posts.status === 'loading'}
  <CoffeeLoading />
{:else if $posts.status === 'error'}
  <ErrorLoading />
{/if}
