<script lang="ts">
  import { fade } from 'svelte/transition'
  import { CodeIcon, TagIcon } from 'svelte-feather-icons'
  import marked from 'marked'
  import Spacer from '../../components/Spacer.svelte'
  import myProfile from '../../stores/profileStore'
  import CoffeeLoading from '../../components/utils/CoffeeLoading.svelte'
  import fetcher from '../../fetcher/fetcher'
  import ErrorLoading from '../../components/utils/ErrorLoading.svelte'
  import PostLikeButton from '../../components/blog/PostLikeButton.svelte'
  import Post from '../../components/blog/Post.svelte'
  import { dataset_dev } from 'svelte/internal'
  import { link } from 'svelte-spa-router'
  import dayjs from 'dayjs'
  import hljs from 'highlight.js'
  
  import postLikes from '../../stores/likesStore'
  import alerts from '../../stores/alertStore';

  export let params: { slug: string } = { slug: '' }
  $: post = fetcher.fetcher(`post/${params.slug}`)

  const highlight = async (text) => {
    return hljs.highlightAuto(text).value
  }
</script>

{#if $post.status === 'loaded'}
  {#if $post.data.post.data.hero}
    <header class="w-full h-96 p-1 md:p-2">
      <figure
        class="w-full h-full bg-gradient-to-t from-black to-gray-600 rounded-md"
      >
        <img
          class="object-cover h-full w-full opacity-40 rounded-md"
          src="{$post.data.post.data.hero.url}{$post.data.post.data.hero.files[0]}"
          alt="{$post.data.post.title}"
        />
      </figure>
    </header>
  {:else}
    <Spacer />
  {/if}

  <div class="container mx-auto px-2 mt-10 md:mt-2 md:px-0 max-w-4xl">
    <!-- <a
      use:link
      href="/profile/{$post.data.post.profile.slug}"
      class="font-bold ring-green-400 rounded pr-4 overflow-hidden whitespace-nowrap items-center h-12"
    >
      <img
        class="h-12 inline rounded mr-2"
        src={$post.data.post.profile.avatar}
        alt={$post.data.post.profile.name}
      />
      {$post.data.post.profile.name}
    </a>
    <PostLikeButton post={$post.data.post} />
    <button
      on:click={async () =>
        await navigator.clipboard.writeText('lala').then(() => '')}
      class="font-bold transition-colors mr-2 mb-2 duration-300 hover:text-green-400 rounded bg-white bg-opacity-5 pr-4 items-center h-12"
    >
      <LinkIcon size="20" class="float-left mx-4 transition-all duration-300" />
      Copy link
    </button> -->

    <article>
      <header class="mt-4 mb-4 md:mb-14 md:mt-16">
        <div class="text-gray-400 font-bold mb-2 mt-2">
          <time class="">At {dayjs($post.data.post.createdAt).format('DD MMMM YYYY')}</time>, by <a use:link href="/profile/{$post.data.post.profile.slug}" class="underline">{$post.data.post.profile.name}</a>
        </div>
        <h1 class="font-bold text-2xl md:text-4xl">
          {$post.data.post.title}
        </h1>
      </header>

      {#each $post.data.post.data.blocks as block}
      <!-- class="mt-4 md:mt-6 space-y-4 text-gray-400 text-lg md:text-xl md:leading-relaxed prose" -->
        <section
          class="mt-4 xl:mt-12"
        >
          {#if block.type === 'text'}
          <p class="m-auto prose prose-lg md:prose-xl">
            {@html marked(block.content)}
          </p>
          {:else if block.type === 'code'}
            {#await highlight(block.content)}
              <CoffeeLoading />
            {:then code} 
            <pre class="xl:rounded-md p-2 xl:p-4 overflow-x-auto">
              <code>
                {@html code}
              </code>
            </pre>
            {/await}
          {:else if block.type === 'image'}
          <picture>
            <img class="rounded" src="{block.url}{block.files[0]}" alt="lala">
          </picture>
          {/if}
        </section>
      {/each}
    </article>

    <footer class="mt-12 xl:mt-20 text-center">
      <div class="mb-4 lg:mb-10">
        <TagIcon class="inline align-text-bottom" size="28" />
        {#each $post.data.post.categories as category, i}
          <a class="text-2xl" href="/blog?categories={category.id}" use:link>
            {category.name}{$post.data.post.categories.length > i + 1 ? ',' : ' '}
          </a>
        {/each}
        <br />
        <br />
        <CodeIcon class="inline align-text-bottom" size="28" />
        {#each $post.data.post.technologies as category, i}
          <a class="text-2xl" href="/blog?technologies={category.id}" use:link>
            {category.name}{$post.data.post.technologies.length > i + 1 ? ',' : ' '}
          </a>
        {/each}
      </div>

      <p class="text-green-400 text-center">Written by</p>
      <a use:link href="/profile/{$post.data.post.profile.slug}" class="font-semibold my-2 text-3xl text-gray-300">
        {$post.data.post.profile.name}
      </a>
      <img class="m-auto mt-4 w-20 rounded" src={$post.data.post.profile.avatar} alt={$post.data.post.profile.name} />
      <hr class="w-7 m-auto border-gray-700 mt-10" />
    </footer>
  </div>
{:else if $post.status === 'loading'}
  <Spacer />
  <CoffeeLoading />
{:else if $post.status === 'error'}
  <Spacer />
  <ErrorLoading msg={$post.data.message} />
{/if}

<Spacer />
