<script lang="ts">
  import { push } from 'svelte-spa-router'

  import { fade } from 'svelte/transition'
  import Spacer from '../components/Spacer.svelte'
  import fetcher from '../fetcher/fetcher'
  import { mFetch } from '../services/mFetch'
import alerts from '../stores/alertStore';
  import profile from '../stores/profileStore'

  /**
   *
   * Sign in
   *
   */

  let inData: {
    error: string | undefined,
    loading: boolean
    email: { value: string; error: boolean | null }
    password: { value: string; error: boolean | null }
  } = {
    error: undefined,
    loading: false,
    email: { value: '', error: false },
    password: { value: '', error: false }
  }

  // Logic
  const onSignIn = async () => {
    // Set loading
    inData.loading = true

    // Make request
    fetcher
      .fetch('signin', {
        auth: true,
        method: 'POST',
        body: {
          email: inData.email.value,
          password: inData.password.value
        }
      })
      .then((r) => {
        console.log(r)
        if (r && r.success) {
          document.location.href = 'https://mynth.io/#/me'
        } else if (r.statusCode === 400) {
          inData.error = r.message
          inData.email.error = true
          inData.password.error = true
        }
      })
      .finally(() => (inData.loading = false))
  }

  /**
   *
   * Sign Up
   *
   */
  let upData: {
    error: string | undefined
    loading: boolean
    name: { value: string; error: boolean | null }
    email: { value: string; error: boolean | null }
    password: { value: string; error: boolean | null }
  } = {
    error: undefined,
    loading: false,
    name: { value: '', error: false },
    email: { value: '', error: false },
    password: { value: '', error: false }
  }

  // Logic
  const onSignUp = async () => {
    
    // Set loading
    upData.loading = true

    if (upData.password.value.length < 6)
    {
      upData.password.error = true
      upData.error = 'Password should have minimum 6 characters'
      return
    }

    fetcher.fetch('signup', {
      auth: true,
      method: 'POST',
      body: {
        name: upData.name.value,
        email: upData.email.value,
        password: upData.password.value
      }
    }).then((r) => {
      console.log(r)
      if (r && r.success) {
        inData.email.value = upData.email.value
        inData.password.value = upData.password.value
        alerts.add('Successfully created your account. Please log in.')
      }
      else if (r && r.statusCode !== 500)
      {
        if (r.message === 'Email taken')
        {
          upData.error = 'Email is taken'
          upData.email.error = true
        }
      }
      else
      {
        upData.error = 'Server error. Please try again.'
      }
    })
  }
</script>

<Spacer />

<div class="m-auto mt-2 md:mt-12 w-11/12 md:1/2">
  <div
    class="grid md:grid-cols-2 grid-cols-1 items-center justify-items-center"
  >
    <div class="md:w-96 md:mr-8 md:justify-self-end">
      <h3
        class="mt-6 mb-4 md:mt-20 md:text-left text-center text-4xl font-bold"
      >
        My account
      </h3>
      {#if inData.error}
        <span class="text-red-600">{inData.error}</span>
      {/if}
      <form on:submit|preventDefault={onSignIn}>
        <div class="mb-2 mt-2 text-xs">
          <span
            class:text-red-600={inData.password.error}
            class="font-bold text-center text-gray-100 text-sm uppercase"
            >Email</span
          ><input
            bind:value={inData.email.value}
            class="field text-lg font-bold bg-gray-800 py-4 px-3 rounded w-full mt-1"
            type="text"
          />
        </div>
        <div class="mb-2 mt-2 text-xs">
          <span
            class:text-red-600={inData.password.error}
            class="font-bold text-center text-gray-100 text-sm uppercase"
            >Password</span
          ><input
            bind:value={inData.password.value}
            class="field text-lg font-bold placeholder-gray-400 bg-gray-800 py-4 px-3 rounded w-full mt-1"
            type="password"
          />
        </div>
        <a
          href="#/forget"
          class="text-green-300 hover:underline font-bold text-sm ml-auto cursor-pointer"
          >Forget Password ?</a
        >
        <button
          disabled={inData.loading}
          class="bg-gradient-to-tr from-green-700 to-green-900 transition-colors duration-100 border-green-300 hover:to-gray-500 mt-3 text-white m-auto block text-center py-4 px-6 text-md rounded cursor-pointer font-bold"
          >Sign in</button
        >
      </form>
    </div>

    <div class="md:w-96 md:justify-self-start md:ml-8">
      <h3
        class="mt-6 mb-4 md:mt-20 md:text-left text-center text-4xl text-indigo-400 font-bold"
      >
        New account
      </h3>
      {#if upData.error}
        <span class="text-red-600">{upData.error}</span>
      {/if}
      <form on:submit|preventDefault={onSignUp}>
        <div class="mb-2 mt-2 text-xs">
          <span class:text-red-600={upData.name.error} class="font-bold text-center text-gray-100 text-sm uppercase"
            >Name</span
          ><input
            bind:value={upData.name.value}
            class="field text-lg font-bold bg-gray-800 py-4 px-3 rounded w-full mt-1"
            type="text"
          />
        </div>
        <div class="mb-2 mt-2 text-xs">
          <span class:text-red-600={upData.email.error} class="font-bold text-center text-gray-100 text-sm uppercase"
            >Email</span
          ><input
            bind:value={upData.email.value}
            class="field text-lg font-bold bg-gray-800 py-4 px-3 rounded w-full mt-1"
            type="text"
          />
        </div>
        <div class="mb-2 mt-2 text-xs">
          <span class:text-red-600={upData.password.error} class="font-bold text-center text-gray-100 text-sm uppercase"
            >Password</span
          ><input
            bind:value={upData.password.value}
            class="field text-lg font-bold placeholder-gray-400 bg-gray-800 py-4 px-3 rounded w-full mt-1"
            type="password"
          />
        </div>
        <button
          class="border-2 transition-colors duration-100 border-indigo-400 hover:bg-indigo-400 hover:text-gray-900 mt-3 text-indigo-400 m-auto block text-center p-3 px-4 text-md rounded cursor-pointer font-bold"
          >Create</button
        >
      </form>
    </div>
  </div>
</div>

<Spacer />
