<script lang="ts">
  import { fly } from 'svelte/transition'
  import Lazy from  'svelte-lazy'
  import Post from '../components/blog/Post.svelte'
  import Spacer from '../components/Spacer.svelte'
  import CoffeeLoading from '../components/utils/CoffeeLoading.svelte'
  import ErrorLoading from '../components/utils/ErrorLoading.svelte'

  import fetcher from './../fetcher/fetcher'
  import { onMount } from 'svelte';

  let latestPosts = fetcher.fetcher('posts')
</script>

<Spacer h="150" />
<!-- Feautered post -->

<!-- Latest posts -->
{#if $latestPosts.status === 'loaded'}
  <div
    in:fly
    class="grid grid-cols-1 md:grid-cols-2 px-4 md:px-8 gap-10 md:gap-8 xl:gap-20 max-w-6xl m-auto"
  >
    {#each $latestPosts.data.posts as post}
    <Lazy>
      <Post {post} />
    </Lazy>
    {/each}
  </div>
  <Spacer />
{:else if $latestPosts.status === 'loading'}
  <CoffeeLoading />
{:else if $latestPosts.status === 'error'}
  <ErrorLoading msg={$latestPosts.data_dev.message} />
{/if}
