<script lang="ts">
  import { fade } from 'svelte/transition'
  import Spacer from '../components/Spacer.svelte'
  import fetcher from '../fetcher/fetcher'
  import alerts from '../stores/alertStore'

  let newEmail = ''
  let newPassword = ''
  let actualPassword = ''

  const onNewEmail = async (): Promise<string> => {
    const r = await fetcher.fetch('newEmail', {
      auth: true,
      body: {
        email: newEmail,
        password: actualPassword
      }
    })
    console.log(r)
    if (r.error) return r.message
    return 'Email successfully updated!'
  }

  const onNewPassword = async (): Promise<string> => {
    if (newPassword.length < 6)
      return 'Password should have minimum 6 characters'
  }

  const onSubmit = async () => {
    if (!actualPassword) {
      alerts.add('Please provide actual password')
      return
    }

    if (newEmail) onNewEmail().then((message) => alerts.add(message))
    if (newPassword) onNewPassword().then((message) => alerts.add(message))
  }
</script>

<Spacer />

<div in:fade class="m-auto mt-2 md:mt-12 w-11/12 md:w-1/2 text-center">
  <h2 class="font-bold text-4xl md:text-6xl">Settings</h2>

  <div class="max-w-md m-auto mt-8 lg:mt-20">
    <div class="mb-2 mt-2 text-xs">
      <span class="font-bold text-center text-gray-100 text-sm uppercase"
        >New Email</span
      ><input
        bind:value={newEmail}
        class="field text-sm bg-gray-800 py-4 px-3 rounded w-full mt-1"
        type="text"
        autocomplete="email"
      />
    </div>

    <div class="mb-2 mt-2 text-xs">
      <span class="font-bold text-center text-gray-100 text-sm uppercase"
        >New Password</span
      ><input
        bind:value={newPassword}
        class="field text-sm bg-gray-800 py-4 px-3 rounded w-full mt-1"
        type="password"
      />
    </div>

    {#if newEmail || newPassword}
      <div class="mb-2 mt-4 lg:mt-8 text-xs">
        <span class="font-bold text-center text-gray-100 text-sm uppercase"
          >Confirm with actual password</span
        ><input
          bind:value={actualPassword}
          class="field text-sm bg-gray-800 py-4 px-3 rounded w-full mt-1"
          type="password"
        />
      </div>
    {/if}

    <button
      on:click={() => onSubmit()}
      class="border-2 transition-colors duration-100 border-green-300 hover:bg-green-300 hover:text-gray-900 mt-3 text-green-300 m-auto block text-center p-3 px-4 text-md rounded cursor-pointer font-bold"
      >Change</button
    >
  </div>
</div>
