<script lang="ts">
  import { push } from 'svelte-spa-router';
  import { fade } from 'svelte/transition'
  import Spacer from '../components/Spacer.svelte'
import fetcher from '../fetcher/fetcher';
  import { mFetch } from '../services/mFetch';
  import profile from '../stores/profileStore';
  
  fetcher.fetch('signout', {auth: true}).then((data) => {
    if (data) {
      profile.clear()
      push('/')
    }
  })
</script>

<Spacer />

<h1>Good bye!</h1>
