<script lang="ts">
  import { onMount } from 'svelte'
  import { location } from 'svelte-spa-router'
  import { ImageIcon, SmileIcon, LoaderIcon, ActivityIcon } from 'svelte-feather-icons'
  import { fade } from 'svelte/transition'
  import Spacer from '../../components/Spacer.svelte'
  import myProfile from '../../stores/profileStore'
  import CoffeeLoading from '../../components/utils/CoffeeLoading.svelte'
  import fetcher from '../../fetcher/fetcher'
  import Post from '../../components/blog/Post.svelte'
  import ErrorLoading from '../../components/utils/ErrorLoading.svelte'
  import alerts from '../../stores/alertStore';

  export let params: { slug: string } = { slug: '' }
  let avatarInput
  let avatarLoading = false

  const onAvatarChange = async () => {
    avatarLoading = true

    const formData = new FormData()
    formData.append('avatar', avatarInput.files[0])

    fetcher.fetch('avatar', {
      method: 'POST',
      noHeaders: true,
      auth: true,
      body: formData
    }).then((r) => {
      if (r.success)
      {
        alerts.add('Successfully updated avatar! This change may take a while.')
        setTimeout(async () => {
          myProfile.refresh()
          profile.refresh($profile._fetch)
        }, 5000)
      }      
    }).finally(() => avatarLoading = false)
  }

  $: profile = fetcher.fetcher(`profile/${params.slug}`)
  $: posts = fetcher.fetcher(`posts?author=${params.slug}`)
</script>

<Spacer />

{#if $profile.status === 'loaded'}
  <div in:fade class="text-center md:mt-12">
    <div class="w-40 relative m-auto">
      <img
        class="object-cover h-40 w-40 rounded"
        src={$profile.data.profile.avatar}
        alt={$profile.data.profile.name}
        title={$profile.data.profile.name}
      />
      {#if $myProfile && $myProfile.slug && $myProfile.slug === $profile.data.profile.slug}
        <label
          class="absolute cursor-pointer top-0 -right-11 bg-gray-700 w-10 h-10 rounded flex items-center"
        >
          {#if !avatarLoading}
          <ImageIcon class="m-auto" size="18" />
          <input
            bind:this={avatarInput}
            on:change={onAvatarChange}
            type="file"
            name="avatar"
            class="hidden"
          />
          {:else}
          <ActivityIcon class="m-auto animate-pulse" size="18" />
          {/if}          
        </label>
        <button class="absolute top-11 -right-11 bg-gray-700 w-10 h-10 rounded">
          <SmileIcon class="m-auto" size="18" />
        </button>
      {/if}
    </div>
    <div class="md:py-6 py-0">
      <h2 class="text-2xl md:text-4xl font-bold mt-2 inline">
        {$profile.data.profile.name}
        {#if $profile.data.profile.emote}
          {@html `&#x${$profile.data.profile.emote};`}
        {/if}
      </h2>
    </div>
  </div>
{:else if $profile.status === 'loading'}
  <CoffeeLoading />
{:else}
  Ooops
{/if}

<div
  class="grid grid-cols-1 md:grid-cols-2 px-4 md:px-8 gap-4 md:gap-8 max-w-6xl m-auto mt-8 md:mt-12"
>
  {#if $posts.status === 'loaded'}
    {#each $posts.data.posts as post}
      <Post {post} />
    {:else}
      Nothing here
    {/each}
  {:else if $posts.status === 'loading'}
    <CoffeeLoading />
  {:else if $posts.status === 'error'}
    <ErrorLoading />
  {/if}
</div>

<Spacer />