<script lang="ts">
  import { mFetch } from '../../../services/mFetch'

  let isForgetSend = false

  let emailInput

  const onSubmitForget = async () => {
    if (emailInput) {
      mFetch('resetPassword', {
        method: 'POST',
        body: JSON.stringify({
          email: emailInput
        })
      }).then((r) => {
        console.log(r)
        if (r && r.success) {
          isForgetSend = true
        }
      })
    }
  }
</script>

<h2 class="font-bold text-2xl md:text-3xl md:mb-8 text-center">
  Reset password
</h2>
{#if !isForgetSend}
  <form on:submit|preventDefault={onSubmitForget}>
    <div class="mb-2 mt-2 text-xs">
      <span class="font-bold text-center text-gray-100 text-sm uppercase"
        >Email</span
      ><input
        bind:value={emailInput}
        class="field text-sm bg-gray-800 py-4 px-3 rounded w-full mt-1"
        type="text"
        autocomplete="email"
      />
    </div>

    <button
      class="border-2 transition-colors duration-100 border-green-300 hover:bg-green-300 hover:text-gray-900 mt-3 text-green-300 m-auto block text-center p-3 px-4 text-md rounded cursor-pointer font-bold"
      >Send</button
    >
  
  </form>
{:else}
  <p class="text-md m-auto w-11/12 md:w-96 text-center mt-8 text-md">
    Email has been sent. Check your inbox and click on link.
  </p>
{/if}
