<script lang="ts">
  import alerts from '../stores/alertStore'
</script>

{#if $alerts.length}
  <ul class="fixed top-20 md:top-28 left-2 z-50">
    {#each $alerts as alert}
      <li class="p-2 mb-2 bg-black text-gray-300 border-b-2 border-green-400 shadow-md rounded" on:click={() => alerts.remove(alert)}>
        {alert}
      </li>
    {/each}
  </ul>
{/if}
