<script lang="ts">
  export let from = "gray-800"
  export let to = "gray-700"
</script>

<button type="button" on:click class="rounded py-3 px-4 md:px-5 text-base inline-block bg-gradient-to-tl from-{from} to-{to}">
  <slot />
</button>