<script lang="ts">
  import { LoaderIcon } from 'svelte-feather-icons'

  import ButtonButton from './ButtonButton.svelte'
  import fetcher from '../fetcher/fetcher'

  /**
   *
   * Props
   *
   */
  export let text = 'Action'
  export let url = null
  export let method = 'DELETE'
  export let updateUrls = []

  /**
   *
   * Flags
   *
   */
  let hidden = true
  const CONFIRM_TIME = 3000 // 3 seconds

  /**
   *
   * Confirm handle
   *
   */
  const confirm = async () => {
    hidden = false
    setTimeout(async () => {
      hidden = true
    }, CONFIRM_TIME)
  }

  /**
   *
   * Logic
   *
   */
  const onClick = async () => {

    if (hidden) return await confirm()

    const r = await fetcher.fetch(url, {
      auth: true,
      method: method
    }).finally(() => hidden = true)

    // Response
    if (r.success) {
      updateUrls.forEach(async u => {
        await fetcher.update(u)
      })
    }
  }
</script>

<ButtonButton on:click={() => onClick()}>
  <LoaderIcon class="inline align-text-top mr-1 animate-spin {hidden ? 'hidden' : ''}" size="18" /> {hidden ? text : 'Confirm'}
</ButtonButton>
