<script lang="ts">
  import { link } from 'svelte-spa-router'

  export let href
</script>
<a href={href} use:link class="rounded py-3 px-4 md:px-5 text-base inline-block bg-gradient-to-tl from-gray-800 to-gray-700">
  <slot />
</a>