<script lang="ts">
  import { link, push } from 'svelte-spa-router'
  import {
    UserIcon,
    SearchIcon,
    BookOpenIcon,
    HomeIcon,
    CodeIcon
  } from 'svelte-feather-icons'
  import { scale, fade } from 'svelte/transition'
  import profile from '../stores/profileStore'
import myProfile from '../stores/profileStore'

  let showProfileMenu = false
</script>

<header
  class="fixed z-40 w-full grid xl:grid-cols-3 grid-cols-2 items-center py-2 px-4 xl:py-4 xl:px-8"
>
  <!-- Logo -->
  <div>
    <a
      class="font-bold text-xl uppercase border-green-300 border-b-4"
      href="/#"
    >
      Mynth
    </a>
  </div>

  <!-- Navigation -->
  <nav class="justify-self-center xl:block hidden">
    {#if $myProfile}
      <a class="mx-6" title="Blog" href="#/me">My mynth</a>
    {/if}
    <a class="mx-6" title="Blog" href="#/blog">Blog</a>
  </nav>

  <!-- Icons -->
  <nav class="relative justify-self-end grid grid-flow-col gap-2">
    <a
      class="hidden text-center items-center justify-center h-16 w-16 bg-gradient-to-br from-green-400 to-blue-400 rounded"
      href="#/search"
    >
      <SearchIcon size="24" />
    </a>
    {#if $myProfile}
      <button
        class="flex text-center items-center justify-center h-16 w-16 rounded bg-gradient-to-br from-blue-400 to-pink-400"
        on:click={() => (showProfileMenu = !showProfileMenu)}
      >
      {#if $myProfile.avatar}
        <img
          class="rounded"
          src={$myProfile.avatar}
          title={$myProfile.name}
          alt={$myProfile.name}
        />
        {:else}
          <UserIcon size="24" />
        {/if}
      </button>
    {:else}
      <button
        class="flex text-center items-center justify-center h-16 w-16 bg-gradient-to-br from-blue-400 to-pink-400 rounded"
        on:click={() => push('/hello')}
      >
        <UserIcon size="24" />
      </button>
    {/if}

    {#if showProfileMenu && $myProfile}
      <!-- 
      ==================================================================

      Profile Menu 



    -->
      <div
        in:scale
        out:scale
        on:click={() => (showProfileMenu = false)}
        class="absolute z-50 top-16 right-0 w-40 py-2 mt-2 bg-black shadow-xl rounded"
      >
        <a use:link href="/me/posts" class="block px-4 py-2 text-normal">Posts</a>
        <div class="py-2">
          <hr class="border-gray-900" />
        </div>
        <a
          use:link
          href="/profile/{$myProfile.slug}"
          class="block px-4 py-2 text-normal">Profile</a
        >
        <div class="py-2">
          <hr class="border-gray-900" />
        </div>
        <a use:link href="/settings" class="block px-4 py-2 text-normal">
          Settings
        </a>
        <div class="py-2">
          <hr class="border-gray-900" />
        </div>
        <a href="#/signout" class="block px-4 py-2 text-normal text-red-500">
          Logout
        </a>
      </div>
    {/if}
  </nav>
</header>

{#if showProfileMenu}
  <button
    on:click={() => (showProfileMenu = false)}
    class="absolute z-10 top-0 left-0 w-full h-full"
  />
{/if}
<!-- Mobile bottom bar -->
<nav id="bottomNav" class="xl:hidden fixed bottom-0 grid grid-flow-col z-50 right-0 gap-2 p-2">
  <a
    class="flex text-center items-center justify-center h-16 w-16 bg-gradient-to-br from-gray-400 to-gray-600 rounded"
    title="Blog"
    href="#/blog"
  >
    <BookOpenIcon size="24" />
  </a>
  {#if $myProfile}
  <a
    class="flex text-center items-center justify-center h-16 w-16 bg-gradient-to-br from-gray-400 to-gray-600 rounded"
    title="Blog"
    href="#/me"
  >
    <HomeIcon size="24" />
  </a>
  {/if}
</nav>
