<script lang="ts">
	import { createEventDispatcher } from 'svelte';

  import ButtonButton from "./ButtonButton.svelte";
  import { CheckSquareIcon, SquareIcon } from 'svelte-feather-icons'

  const dispatch = createEventDispatcher()

  export let selected = []
  export let items = []
  export let subject = ''

  const done = async () => {
    dispatch('update', {
      selected: selected,
      subject: subject
    })
  }

  const toggleItem = async (itemId) => {
    const itemIndex = selected.indexOf(itemId)
    if (itemIndex < 0) {
      selected = [itemId, ...selected]
      return
    }

    selected.splice(itemIndex, 1)
    selected = selected
  }
</script>

<div class="fixed z-50 p-8 xl:p-20 top-0 left-0 right-0 bottom-0 bg-black overflow-auto">
{#each items as item}
  <button class="p-2 inline" on:click={() => toggleItem(item.id)}>
    <span class="bg-gray-900 text-gray-500 rounded-lg p-4 inline-block text-lg">
      {#if selected && selected.indexOf(item.id) > -1}
        <CheckSquareIcon
          class="inline text-green-400 align-text-bottom mr-2"
          size="18"
        />
      {:else}
        <SquareIcon class="inline align-text-bottom mr-2" size="18" />
      {/if}
      {item.name} ({item.posts})</span
    >
  </button>
{/each}
<div class="mt-10">
  <ButtonButton on:click={() => done()}>Done</ButtonButton>
</div>
</div>
