<script lang="ts">
  import { link } from 'svelte-spa-router'
  import { PlusIcon } from 'svelte-feather-icons'

  import Spacer from '../../components/Spacer.svelte'
  import fetcher from '../../fetcher/fetcher'
  import myProfile from '../../stores/profileStore'
  import MeDrafts from './_components/MeDrafts.svelte';
  import MePosts from './_components/MePosts.svelte'
  import MeSection from './_components/MeSection.svelte'

  const texts = [
    'Hi! How are you?',
    "What's up my friend?",
    'What are we doing today?'
  ]

  const randomText = () => {
    return texts[Math.floor(Math.random() * texts.length)]
  }
</script>

<Spacer />

<h1 class="text-center font-bold text-3xl px-4">
  {randomText()}
</h1>

<!--
  Main Grid of user apps

  - Top buttons
  - My posts
  - My snippets
  - For me
-->
<div class="container xl:flex m-auto px-1 md:px-2 mt-10 md:mt-16">
  <!-- Left side -->
  <div class="xl:w-1/2 md:px-6 w-full space-y-3">
    <!-- 
      Top buttons

      Group of buttons for user actions
      - Create new post
      - Create new snippet
    -->
    <!-- <div class="grid grid-cols-2 px-2 gap-2 md:gap-4 text-center font-bold">
      <a
        use:link
        href="/create/post"
        class="bg-gray-800 rounded py-3 text-gray-200"
      >
        New post
      </a>
      <a
        use:link
        href="/create/post"
        class="bg-gray-800 rounded py-3 text-gray-200"
      >
        New snippet
      </a>
    </div> -->
    <!-- // Top buttons -->

    <!-- 
      My actions

      To be decided this vs top buttons plus me posts
    -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 md:gap-6 auto-cols-max items-center">
      <div class="flex">
        <a class="mr-2 bg-gradient-to-br from-gray-900 to-green-700 flex-grow rounded-md p-6 text-center font-bold text-lg" href="/me/posts" use:link>
          My Posts
        </a>
        <a class="bg-gradient-to-br from-green-700 to-gray-900 rounded-md p-6 text-center font-bold text-2xl" href="/create/post" use:link>
          <PlusIcon size="30" />
        </a>
      </div>
      <div class="flex">
        <a class="mr-2 bg-gradient-to-br from-gray-900 to-blue-700 flex-grow rounded-md p-6 text-center font-bold text-lg" href="/me/posts" use:link>
          My Snippets
        </a>
        <a class="bg-gradient-to-br from-blue-700 to-gray-900 rounded-md p-6 text-center font-bold text-2xl" href="/me/posts" use:link>
          <PlusIcon size="30" />
        </a>
      </div>
    </div>
    <!-- // My actions -->

    <!-- 
      My drafts
      
      Show some of user posts, and show
      action to see more
    -->
    <MeSection>
      <MeDrafts />
    </MeSection>
    <!-- // My posts -->
  </div>

  <!-- Right side-->
  <div class="xl:w-1/2 md:px-6 w-full mt-3 md:mt-0 space-y-3">
    <!-- 
      My posts 
      
      Show some of user posts, and show
      action to see more
    -->
    <MeSection>
      <MePosts />
    </MeSection>
    <!-- // My posts -->
  </div>
</div>
<!-- // Main Grid -->

<Spacer />