<script lang="ts">
  import { link } from 'svelte-spa-router'
  import {
    ClockIcon,
    GlobeIcon,
    Edit3Icon,
    PlusIcon,
    TagIcon,
    HeartIcon
  } from 'svelte-feather-icons'
  import Spacer from '../../components/Spacer.svelte'
  import fetcher from '../../fetcher/fetcher'
  import myProfile from '../../stores/profileStore'
  import dayjs from 'dayjs'
  import relativeTime from 'dayjs/plugin/relativeTime'
  import RemovePostButton from '../../components/posts/RemovePostButton.svelte'
  import ButtonLink from '../../components/ButtonLink.svelte'
  import Post from '../../components/blog/Post.svelte'
  import ButtonButton from '../../components/ButtonButton.svelte'
  import ButtonActionConfirm from '../../components/ButtonActionConfirm.svelte'

  dayjs.extend(relativeTime)

  let posts = fetcher.fetcher('profile/posts', { auth: true })
</script>

<Spacer />

<!-- 
  Add new post button
-->
<a
  use:link
  href="/create/post"
  class="flex text-center items-center justify-center h-16 w-16 bg-gradient-to-br from-green-400 to-green-600 rounded fixed bottom-2 left-2"
>
  <PlusIcon size="24" />
</a>

<!--
  Container
-->
<div class="w-full m-auto px-2 md:px-4 xl:px-8 md:mt-16">
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-6 xl:gap-x-2 xl:gap-y-8">
    {#if $posts.status === 'loaded'}
      {#each $posts.data.posts as post}
        <div>
          <div class="flex">
            <picture class="hidden md:block h-28 w-40 flex-shrink-0">
              {#if post.data.hero || post.postDraft.data.hero}
                <img
                  class="object-cover group-hover:opacity-60 transition-all duration-300 rounded-md h-28 w-40 lg:h-full lg:w-full"
                    src="{post.postDraft.data.hero ? post.postDraft.data.hero.url + post.postDraft.data.hero.files[0] : post.data.hero.url + post.data.hero.files[0]}"
                    alt={post.title || post.postDraft.data.title}
                />
              {/if}
            </picture>
            <div class="md:ml-4">
              <span class="text-green-400 flex flex-wrap items-center">
                <div class="mr-4 flex items-center">
                  <HeartIcon class="inline mr-2" size="18" />
                  {post.likes}
                </div>
                <div class="mr-4 flex items-center">
                  <ClockIcon class="inline mr-2" size="18" />
                  {dayjs(post.createdAt).fromNow()}
                </div>
                <div class="mr-4 flex items-center">
                  {#if post.isPublic && post.postDraft.isPublic}
                    <GlobeIcon class="mr-2 inline md:block" size="18" /> Public
                  {:else if post.isPublic && !post.postDraft.isPublic}
                    <GlobeIcon class="mr-2 inline md:block" size="18" /> Public, edited
                  {:else}
                    <Edit3Icon class="mr-2 inline md:block" size="18" /> Draft
                  {/if}
                </div>
              </span>
              <h3 class="text-2xl font-bold pt-2">
                {#if post.isPublic}
                <a href="/post/{post.slug}" use:link>
                  {post.title || post.postDraft.data.title}
                </a>
                {:else}
                  {post.title || post.postDraft.data.title}
                {/if}                
              </h3>
              <div class="text-lg p-1 mb-2 md:mb-2">
                <TagIcon size="18" class="inline mr-2" />
                {#each post.categories.concat(post.technologies) as category}
                  <span>
                    {category.name}
                  </span>
                {/each}
              </div>
              <ButtonLink href="/create/post/{post.postDraft.id}"
                >Edit</ButtonLink
              >
              <ButtonActionConfirm
                url="post/{post.id}?delete=true"
                updateUrls={['profile/posts']}
                text="Delete"
              />
              {#if post.isPublic}
                <ButtonActionConfirm
                  url="post/{post.id}"
                  updateUrls={['profile/posts']}
                  text="Unpublish"
                />
              {/if}
            </div>
          </div>
        </div>
      {/each}
    {/if}
  </div>
</div>
<!-- // Main Grid -->

<Spacer />
