<script lang="ts">
  import { draw } from 'svelte/transition'
  import fetcher from '../../fetcher/fetcher'
  import alerts from '../../stores/alertStore';
  import postLikes from '../../stores/likesStore';
  import myProfile from '../../stores/profileStore'

  export let post

  const handleLike = async (isLiked: boolean) => {
    if ($myProfile && $postLikes) {
      if (!isLiked) {        
        postLikes.add(post.id)
        post.likes = post.likes + 1
        fetcher.fetch(`post/${post.id}/like`, { method: 'PUT', auth: true })
      } else {
        postLikes.remove(post.id)
        post.likes = post.likes - 1
        fetcher.fetch(`post/${post.id}/like`, { method: 'DELETE', auth: true })
      }
    }
    else {
      alerts.add('You need to be logged in')
    }
  }
</script>

<button
  on:click={() => handleLike($postLikes.includes(post.id))}
  class="font-thin duration-300 rounded bg-gray-900 text-gray-500 inline-flex items-center h-12 pl-4"
>
  {post.likes}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="18"
    height="18"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="float-left mx-4 duration-300 stroke-current transition-colors"
    class:text-red-800={$postLikes && $postLikes.includes(post.id)}
    class:fill-current={$postLikes && $postLikes.includes(post.id)}
    ><path
      d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
    /></svg
  >
</button>