<script lang="ts">
  import { onMount } from 'svelte'
  import { fade, draw } from 'svelte/transition'
  import { link } from 'svelte-spa-router'  

  import PostLikeButton from './PostLikeButton.svelte'

  export let post

  let loadImages = false

  onMount(() => {
    loadImages = true
  })
</script>

{#if post}
  <div class="w-full">
    <a use:link href="/post/{post.slug}">
      <figure
        class="group h-52 md:h-72 bg-gradient-to-tr from-indigo-900 to-gray-900 hover:from-green-400 transition-colors duration-1000 rounded xl:rounded-lg"
      >
        {#if loadImages && post.hero}
          <img
            in:fade={{ duration: 1500 }}
            class="object-cover group-hover:opacity-60 transition-all duration-300 rounded xl:rounded-lg h-full w-full"
            src="{post.hero.url}{post.hero.files[0]}"
            alt={post.title}
            title={post.title}
          />
        {/if}
      </figure>
    </a>

    <a use:link href="/post/{post.slug}" class="mt-4 px-2 lg:px-4 block font-medium text-lg leading-tight md:leading-snug md:text-2xl text-gray-300">
      {post.title}
    </a>

    <div class="inline-flex space-x-4 items-center mt-4 md:mt-4 xl:mt-8">
      <a
        use:link
        href="/profile/{post.profile.slug}"
        class="font-thin ring-green-400 rounded pr-4 overflow-hidden whitespace-nowrap float-left inline-block items-center h-12 text-gray-500"
      >
        <img
          class="h-12 inline rounded mr-2"
          src={post.profile.avatar}
          alt={post.profile.name}
        />
        {post.profile.name}
      </a>

      <PostLikeButton {post} />
    </div>
  </div>
{/if}
