<script lang="ts">
import { replace } from "svelte-spa-router";

  import fetcher from "../../fetcher/fetcher";

  fetcher.fetch('post', {auth: true, method: 'POST'}).then(r => {
    if (r.success)
    {
      replace(`/create/post/${r.post}`)
    }
  })
</script>

<div class="grid w-screen h-screen justify-items-center items-center">
  <span>
    Creating place for your idea...
  </span>
</div>