<script lang="ts">
  import Router, { replace } from 'svelte-spa-router'
  import { wrap } from 'svelte-spa-router/wrap'
  import { mFetch } from './services/mFetch'
  import myProfile from './stores/profileStore'

  import Home from './routes/Home.svelte'
  import Hello from './routes/Hello.svelte'
  import Settings from './routes/Settings.svelte'
  import Route404 from './routes/Route404.svelte'
  import Header from './components/Header.svelte'
  import Profile from './routes/profile/Profile.svelte'
  import Signout from './routes/Signout.svelte'
  import Forget from './routes/auth/Forget.svelte'

  import fetcher from './fetcher/fetcher'
  import CreatePost from './routes/create/CreatePost.svelte'
  import Me from './routes/me/Me.svelte';
  import Blog from './routes/blog/Blog.svelte';
  import { onMount } from 'svelte';
  import Post from './routes/blog/Post.svelte';
  import Alerts from './components/Alerts.svelte'
  import Create from './routes/create/Create.svelte';
  import EditPost from './routes/create/EditPost.svelte';
import postLikes from './stores/likesStore';
import MePosts from './routes/me/MePosts.svelte';

  onMount(async () => {
    fetcher.fetch('profile', {auth: true}).then((r) => {
      if (r.success)
      {
        ////////////////////////////////////////////////////////////////////
        // Add any initialization that requires profile (logged in user)
        //
        //

        // Init profile
        myProfile.init(r.profile)

        // Init likes
        fetcher.fetch('profile/likes', {auth:true}).then(likesResponse => {
          postLikes.init(likesResponse.likes.postLikes)
        })
        
      }
    })
  })

  const routes = {
    '/': Home,
    '/settings': Settings,
    '/blog': Blog,
    '/me': Me,
    '/me/posts': MePosts,
    '/post/:slug': Post,
    '/hello': Hello,
    '/profile/:slug': Profile,
    '/signout': Signout,
    '/forget/:token?': Forget,
    '/create': Create,
    '/create/post': CreatePost,
    '/create/post/:postId': EditPost,
    '*': Route404
  }

  function conditionsFailed(event: any) {
    if (event.detail.location === '/profile') {
      replace('/hello')
    }
  }
</script>

<Header />
<Alerts />
<Router
  {routes}
  on:conditionsFailed={conditionsFailed}
  restoreScrollState={true}
/>

<style global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    @font-face {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
      src: url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
    }
  }
</style>
