<script lang="ts">
  import { CoffeeIcon } from 'svelte-feather-icons'
</script>

<div class="w-full h-full grid justify-items-center items-center py-8">
  <CoffeeIcon size="30" class="animate-pulse" />
</div>