<script lang="ts">
  import { FrownIcon } from 'svelte-feather-icons'

  export let msg = "Error loading component"
</script>

<div class="w-full h-full grid justify-items-center items-center py-8">
  <FrownIcon size="30" class="animate-pulse mb-4" />
  {msg}
</div>